{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('app_feed_thread') }}">tout les thread</a>
        </li>
        <li>
            <a href="{{ path('app_thread_create') }}">crée un thread</a>
        </li>
    </ul>




{% endblock %}
