<h1>Nouveau mot de passe</h1>

<form method="post">
    <label>Nouveau mot de passe :</label>
    <input type="password" name="password" required>

    <button type="submit">Réinitialiser</button>
</form>
