version: "3.9"

services:
    mariadb:
        image: mariadb:11
        container_name: mariadb
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: RedditLike


        ports:
            - "3306:3306"
        volumes:
            - mariadb_data:/var/lib/mysql
            - ./dump:/docker-entrypoint-initdb.d

    php:
        build:
            context: ./docker/php
        container_name: php
        restart: unless-stopped
        volumes:
            - ./:/var/www/html
        depends_on:
            - mariadb
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: RedditLike
            DATABASE_URL: "mysql://root:root@mariadb:3306/RedditLike?serverVersion=mariadb-11.8.5&charset=utf8mb4"

    nginx:
        image: nginx:alpine
        container_name: nginx
        restart: unless-stopped
        ports:
            - "8080:80"
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php

volumes:
    mariadb_data:
