{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin_dashboard.css') }}">
{% endblock %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="admin-container">

        <h1>Administration</h1>

        <div class="admin-actions">
            <a href="{{ path('app_admin_users') }}" class="admin-btn">
                👤 Voir tous les utilisateurs
            </a>

            <a href="{{ path('app_admin_threads') }}" class="admin-btn">
                🧵 Voir tous les threads
            </a>
        </div>

    </div>
{% endblock %}
