{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('app_user_create') }}">register</a>
        </li>
        <li>
            <a href="{{ path('app_login') }}">login</a>
        </li>
        <li>
            <a href="{{ path('app_home_index') }}">contact</a>
        </li>
    </ul>




{% endblock %}
