<h1>Bienvenue !</h1>

<p>Merci de vous être inscrit.</p>

<p>Cliquez ici pour valider votre compte :</p>

<p>
    <a href="{{ url('app_validate', { token: token.tokenValue }) }}">
        Valider mon compte
    </a>
</p>

<p>Ce lien expire dans 15 minute.</p>
