{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un nouveau thread</h1>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    <input type="submit" value="Submit">
    {{ form_end(form) }}

{% endblock body %}
